@font-face {
    font-family: IranSANS;
    font-display: auto;
    src: local("IranSANS"),
    url(../fonts/IRANSansWeb.ttf) format("truetype"),
    url(../fonts/IRANSansWeb.woff) format("woff"),
    url(../fonts/IRANSansWeb.woff2) format("woff2"),
    url(../fonts/IRANSansWeb.eot?#iefix) format("embedded-opentype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: IranSANS;
    font-display: auto;
    src: local("IranSANS"),
    url(../fonts/IRANSansWeb_Bold.ttf) format("truetype"),
    url(../fonts/IRANSansWeb_Bold.woff) format("woff"),
    url(../fonts/IRANSansWeb_Bold.woff2) format("woff2"),
    url(../fonts/IRANSansWeb_Bold.eot?#iefix) format("embedded-opentype");
    font-weight: 700;
    font-style: normal
}
